{% extends 'AppBundle::base.html.twig' %}

{% block body %}
    <h1>Interessentgrundmapping</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ interessentgrundmapping.id }}</td>
            </tr>
            <tr>
                <th>Annulleret</th>
                <td>{{ interessentgrundmapping.annulleret }}</td>
            </tr>
        </tbody>
    </table>

{% endblock %}
