imports:
    - { resource: parameters.yml }
    - { resource: security.yml }
    - { resource: services.yml }
    - { resource: easyadmin/basic.yml }
    - { resource: easyadmin/design.yml }
    - { resource: easyadmin/grunde/parcelhusgrund.yml }
    - { resource: easyadmin/grunde/storparcel.yml }
    - { resource: easyadmin/grunde/erhvervsgrund.yml }
    - { resource: easyadmin/grunde/andregrund.yml }
    - { resource: easyadmin/grunde/grund_collection.yml }
    - { resource: easyadmin/mv/salgsomraade.yml }
    - { resource: easyadmin/mv/lokalplan.yml }
    - { resource: easyadmin/mv/delomraade.yml }
    - { resource: easyadmin/mv/opkoeb.yml }
    - { resource: easyadmin/admin/postby.yml }
    - { resource: easyadmin/admin/landinspektoer.yml }
    - { resource: easyadmin/admin/lokalsamfund.yml }
    - { resource: easyadmin/admin/user.yml }
    - { resource: easyadmin/reservation/interessent.yml }
    - { resource: easyadmin/services.yml }

# Put parameters here that don't need to change on each machine where the app is deployed
# http://symfony.com/doc/current/best_practices/configuration.html#application-related-configuration
parameters:
    locale: da
    grundsalg_web: "%grundsalg_web_address%"
    grundsalg_web_username: "%grundsalg_web_address_username%"
    grundsalg_web_password: "%grundsalg_web_address_password%"

framework:
    #esi:             ~
    translator:      { fallbacks: ["%locale%"] }
    secret:          "%secret%"
    router:
        resource: "%kernel.root_dir%/config/routing.yml"
        strict_requirements: ~
    form:            ~
    csrf_protection: ~
    validation:      { enable_annotations: true }
    #serializer:      { enable_annotations: true }
    templating:
        engines: ['twig']
    default_locale:  "%locale%"
    trusted_hosts:   ~
    trusted_proxies: ~
    session:
        # http://symfony.com/doc/current/reference/configuration/framework.html#handler-id
        # handler_id:  session.handler.native_file
        # save_path:   "%kernel.root_dir%/../var/sessions/%kernel.environment%"
        handler_id:  ~
    fragments:       ~
    http_method_override: true
    assets: ~

# Twig Configuration
twig:
    debug:            "%kernel.debug%"
    strict_variables: "%kernel.debug%"

    date:
        format: 'd-m-Y'

    number_format:
        decimals: 2
        decimal_point: ','
        thousands_separator: '.'


# Doctrine Configuration
doctrine:
    dbal:
        driver:   pdo_mysql
        host:     "%database_host%"
        port:     "%database_port%"
        dbname:   "%database_name%"
        user:     "%database_user%"
        password: "%database_password%"
        charset:  utf8mb4
        default_table_options:
          charset: utf8mb4
          collate: utf8mb4_danish_ci
        server_version: "%server_version%"
        # if using pdo_sqlite as your database driver:
        #   1. add the path in parameters.yml
        #     e.g. database_path: "%kernel.root_dir%/data/data.db3"
        #   2. Uncomment database_path in parameters.yml.dist
        #   3. Uncomment next line:
        #     path:     "%database_path%"
        types:
            geometry:   CrEOF\Spatial\DBAL\Types\GeometryType
            point:      CrEOF\Spatial\DBAL\Types\Geometry\PointType
            polygon:    CrEOF\Spatial\DBAL\Types\Geometry\PolygonType
            linestring: CrEOF\Spatial\DBAL\Types\Geometry\LineStringType

            Anvendelse:         AppBundle\DBAL\Types\Anvendelse
            GrundStatus:        AppBundle\DBAL\Types\GrundStatus
            GrundSalgStatus:    AppBundle\DBAL\Types\GrundSalgStatus
            GrundPublicStatus:  AppBundle\DBAL\Types\GrundPublicStatus
            GrundType:          AppBundle\DBAL\Types\GrundType
            Kpl4:               AppBundle\DBAL\Types\Kpl4
            Mulighed:           AppBundle\DBAL\Types\Mulighed
            SalgsType:          AppBundle\DBAL\Types\SalgsType
            TilslutningsType:   AppBundle\DBAL\Types\TilslutningsType
            Priskorrektion:     AppBundle\DBAL\Types\Priskorrektion

    orm:
        auto_generate_proxy_classes: "%kernel.debug%"
        naming_strategy: doctrine.orm.naming_strategy.underscore
        auto_mapping: true
        dql:
            datetime_functions:
                year: DoctrineExtensions\Query\Mysql\Year
                quarter: DoctrineExtensions\Query\Mysql\Quarter
                month: DoctrineExtensions\Query\Mysql\Month
            numeric_functions:
                st_contains:     CrEOF\Spatial\ORM\Query\AST\Functions\MySql\STContains
                contains:     CrEOF\Spatial\ORM\Query\AST\Functions\MySql\Contains
                st_area:         CrEOF\Spatial\ORM\Query\AST\Functions\MySql\Area
                st_geomfromtext: CrEOF\Spatial\ORM\Query\AST\Functions\MySql\GeomFromText
                st_intersects:     CrEOF\Spatial\ORM\Query\AST\Functions\MySql\STIntersects
                st_buffer:     CrEOF\Spatial\ORM\Query\AST\Functions\MySql\STBuffer
                point: CrEOF\Spatial\ORM\Query\AST\Functions\MySql\Point

stof_doctrine_extensions:
    orm:
        default:
            timestampable: true
            blameable: true
    class:
        blameable: AppBundle\EventSubscriber\BlameableListener

# Swiftmailer Configuration
swiftmailer:
    transport: "%mailer_transport%"
    host:      "%mailer_host%"
    username:  "%mailer_user%"
    password:  "%mailer_password%"
    spool:     { type: memory }

fos_user:
    from_email:
        address:        noreply@example.com
        sender_name:    Demo App
    db_driver: orm # other valid values are 'mongodb', 'couchdb' and 'propel'
    firewall_name: main
    user_class: AppBundle\Entity\User

white_october_breadcrumbs:
  separator:

braincrafted_bootstrap:
    icon_prefix: fa
    output_dir:
    assets_dir: "%kernel.root_dir%/../vendor/twbs/bootstrap"
    jquery_path: "%kernel.root_dir%/../vendor/components/jquery/jquery.min.js"
    fonts_dir: "%kernel.root_dir%/../web/fonts"
    auto_configure:
        assetic: false
        twig: false
        knp_menu: true
        knp_paginator: true
    customize:
        variables_file: ~
        bootstrap_output: "%kernel.root_dir%/Resources/less/bootstrap.less"
        bootstrap_template: BraincraftedBootstrapBundle:Bootstrap:bootstrap.less.twig

knp_paginator:
    page_range: 5                      # default page range used in pagination control
    default_options:
        page_name: page                # page query parameter name
        sort_field_name: sort          # sort field query parameter name
        sort_direction_name: direction # sort direction query parameter name
        distinct: true                 # ensure distinct results, useful when ORM queries are using GROUP BY statements
