# Learn more about services, parameters and containers at
# http://symfony.com/doc/current/book/service_container.html
parameters:
#    parameter_name: value

services:
#    service_name:
#        class: AppBundle\Directory\ClassName
#        arguments: ["@another_service_name", "plain_value", "%parameter_name%"]

  grundsalg.bank_holiday:
    class: AppBundle\Service\GrundsalgBankHolidayService

  grundsalg.public_properties:
    class: AppBundle\Service\GrundsalgPublicPropertiesService
    arguments: ['@grundsalg.bank_holiday']

  grundsalg.communication:
    class: AppBundle\Service\GrundsalgCommunicationService
    arguments: ['%grundsalg_web%', '%grundsalg_web_username%', '%grundsalg_web_password%']

  app.salgsomraade_subscriber:
    class: AppBundle\EventSubscriber\SalgsomraadeCommunicationSubscriber
    tags:
      - { name: doctrine.event_subscriber }
    arguments: [ '@grundsalg.communication' ]

  app.twig_extension:
    class: AppBundle\Twig\AppExtension
    arguments: ['@service_container']
    public: false
    tags:
      - { name: twig.extension }

  app.calculation.salgsomraade:
    class: AppBundle\CalculationService\SalgsomraadeCalculator
    tags:
      - { name: doctrine.event_subscriber }
    arguments: [ '@doctrine.orm.entity_manager' ]

  app.calculation.grund:
    class: AppBundle\CalculationService\GrundCalculator
    tags:
      - { name: doctrine.event_subscriber }

  app.calculation.lokalplan:
    class: AppBundle\CalculationService\LokalplanCalculator
    tags:
      - { name: doctrine.event_subscriber }

  app.report_manager:
    class: AppBundle\Report\Manager
    arguments:
      - reports:
          # - class: AppBundle\Report\ReportTilSalgIPerioden
          # - class: AppBundle\Report\ReportOekonomi
          # - class: AppBundle\Report\ReportOpkoebOgForbrug
          - class: AppBundle\Report\ReportGrundSolgtIPeriode
          - class: AppBundle\Report\ReportGrundTilSalgIPeriode
          - class: AppBundle\Report\ReportGrundTilSalgPrDato

  app.calculation.delomraade:
    class: AppBundle\CalculationService\DelomraadeCalculator
    tags:
      - { name: doctrine.event_subscriber }

  app.calculation.opkoeb:
    class: AppBundle\CalculationService\OpkoebCalculator
    tags:
      - { name: doctrine.event_subscriber }

  app.bulk.create.grund:
    class: AppBundle\EventSubscriber\GrundBulkCreateSubscriber
    arguments: [ "@doctrine.orm.entity_manager" ]
    tags:
      - { name: kernel.event_subscriber }
