# PHP CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-php/ for more details
#
version: 2
jobs:
  build:
    docker:
      # specify the version you desire here
      - image: circleci/php:7.0.22-apache-browsers
        environment:
          APP_ENV: circleci

      # Specify service dependencies here if necessary
      # CircleCI maintains a library of pre-built images
      # documented at https://circleci.com/docs/2.0/circleci-images/
      - image: circleci/mysql:latest
        environment:
          - MYSQL_ROOT_PASSWORD=circleci
          - MYSQL_USER=circleci
          - MYSQL_PASSWORD=circleci
          - MYSQL_DATABASE=circle_test

    working_directory: ~/htdocs

    steps:
      - run:
          name: Apt-get update
          command: sudo apt-get update && sudo apt-get install -y zlib* wget

      - run:
          name: Install PHP extensions - zip
          command: sudo docker-php-ext-install zip && sudo docker-php-ext-enable zip

      - run:
          name: Install PHP extensions - pdo_mysql
          command: sudo docker-php-ext-install pdo_mysql && sudo docker-php-ext-enable pdo_mysql

      - run:
          name: Install PHP extensions - calendar
          command: sudo docker-php-ext-install calendar && sudo docker-php-ext-enable calendar

      - run:
          name: Set custom PHP config
          command: echo "memory_limit = 512M" | sudo tee /usr/local/etc/php/php.ini

      - checkout
      # Download and cache dependencies
      - restore_cache:
          keys:
          - v1-dependencies-{{ checksum "composer.lock" }}
          # fallback to using the latest cache if no exact match is found
          - v1-dependencies-composer

      - run: sudo composer self-update

      - run: composer install --no-interaction

      - run:
          name: Display PHP information
          command: |
            php -v
            php -i

      - run:
          name: Wait for db
          command: dockerize -wait tcp://localhost:3306 -timeout 1m

      - save_cache:
          paths:
            - ./vendor
          key: v1-dependencies-{{ checksum "composer.lock" }}

      # run tests!
      - run: vendor/bin/phpunit
      - run: vendor/bin/behat --profile=circleci
