{% extends 'AppBundle::base.html.twig' %}

{% block body %}
    <h1>Keyword</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ keyword.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ keyword.title }}</td>
            </tr>
            <tr>
                <th>Alias</th>
                <td>{{ keyword.alias }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ keyword.description }}</td>
            </tr>
        </tbody>
    </table>

{% endblock %}
