.easyadmin-list td:last-child {
  width: 1em;
  text-align: right;
  white-space: nowrap;
}

.easyadmin-list td.no-results {
  text-align: center;
}

body.show .form-control {
  height: 34px;
}

span.form-control, span.form-inline .form-control {
  background: #FAFAFA;
  border: 0;
  border-radius: 0;
  box-shadow: none;
  height: 34px;
}

.meta-box {
  color: #777;
}

.meta-label {
  font-weight: bold;
  padding: 0 1em 0 2em;
}

.meta-label:first-child {
  padding: 0 1em 0 0;
}

.bulk-actions {
  margin-bottom: 1em;
}

.table.form-collection {
  border: 0;
}

.table.form-collection .form-group {
  margin: 0;
}

.table.form-collection .form-group .col-sm-10 {
  width: 100%;
  padding: 0;
}

.table.form-collection th label.col-sm-2 {
  width: 100%;
  padding: 0;
  text-align: left;
}

.table.form-collection>thead>tr>th {
  border: 0;
}

.table.form-collection>tbody>tr>td {
  border: 0;
  padding: 0;
}

.table.form-collection>tbody>tr>td button {
  margin-top: 0.5em;
}

.table.form-collection>tbody>tr>td .error-block {
  padding: 8px;
}

.table.form-collection>tbody>tr>td.priskorrektion_total {
  border-right: 1px solid #CCC;
}

.number input {
  text-align: right;
}

.table.form-collection td.priskorrektion--select {
  padding-right: 1em;
}

#vis_priskorrektion3_total {
  border-bottom: 1px solid #444444;
}

td.pris-total input {
  border-top: 1px solid #444444;
  border-bottom: 6px double #444444;
}

.js-maxetagem2, .js-fastpris, .js-minbud, .js-price-table, .js-status {
  display: none;
}