{% extends 'AppBundle::base.html.twig' %}

{% block body %}
    <h1>Keywordvalue</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ keywordvalue.id }}</td>
            </tr>
            <tr>
                <th>Display</th>
                <td>{{ keywordvalue.display }}</td>
            </tr>
            <tr>
                <th>Value</th>
                <td>{{ keywordvalue.value }}</td>
            </tr>
        </tbody>
    </table>

{% endblock %}
